doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(
      http-equiv='Content-Type'
      content='text/html; charset=UTF-8'
    )
    title Game Cheap Password Reset
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    )
  body(style='padding: 0; margin: 0; font-family: arial;')
    table(border='0', cellpadding='0', cellspacing='0', width='100%')
      tr
        td
          table(align='center', border='0', cellpadding='0', cellspacing='0', width='600', style='border-collapse: collapse;')
            tr
              //- Header
              td(bgcolor='#F03434', style='border-bottom: 5px solid #C73232;')
                img(
                  src=hostUrl + '/image/template-header-password-reset.jpg'
                  alt='Password Reset'
                  width='600'
                  height='300'
                  style='display: block;'
                )
            tr
              //- Body
              td(bgcolor='#F0F4F5', style='padding-top: 30px; padding-right: 30px; padding-bottom: 60px; padding-left: 30px;')
                table(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse;')
                  tr
                    td
                      p Hi <b>#{firstName} #{lastName}</b>,
                      p We have received a password reset request for your account. If this wasn't you, you can ignore this email.
                      p To proceed with resetting your password, please enter the following code when prompted in Game Cheap:
                  tr
                    td(align='center', style='padding-top: 20px; color: #F03434; font-size: 50px;')
                      span(style='border-bottom: 3px solid #F03434;') #{code}
            tr
              //- Footer
              td(bgcolor='#292D2E', style='border-top: 5px solid #505355;')
                table(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse;')
                  tr
                    td(align='left', style='padding-top: 20px; padding-right: 15px; padding-bottom: 20px; padding-left: 30px;')
                      img(
                        src=hostUrl + '/image/template-logo.jpg',
                        alt='Logo'
                        width='100'
                        height='14'
                        style='display: block;'
                      )
                    td(align='right', style='padding-top: 20px; padding-right: 30px; padding-bottom: 20px; padding-left: 15px;')
                      a(href=hostUrl, style='color: white; text-decoration: none;') Visit our website
